.jour{
    background-color: #fff;
    color: #7b7b7b;
}
.jour header > h1 {
    border-right: #7b7b7b 2px solid;
}
.jour form {
    border-left: #7b7b7b 2px solid;
}
.jour form input {
    color: #7b7b7b;
}
.jour form input[type="submit"]:hover {
    background-color: #7b7b7b;
    color: #EA9632;
}
.jour form > .association-form:hover > label {
    color: #EA9632;
}
.jour form > .association-form:hover > input {
    border-color: #7b7b7b;
}
.jour .je_minscris, .orange {
    color: #EA9632;
}
.jour .blanc {
    color: #7b7b7b;
}
.jour .je_minscris {
    border-top: #7b7b7b 1px solid;
    border-bottom: #7b7b7b 1px solid;
}
.jour .je_minscris:hover {
    color: #7b7b7b;
}
.jour .je_minscris:hover .blanc {
    color: #EA9632;
}
.jour .photo a {
    border-top: #7b7b7b 2px solid;
}
.jour .photo a:hover{
    color: #EA9632;
}
.jour .photo a:hover .orange{
    color: #7b7b7b;
}

.jour footer > .footer_links {
    border-left: #707070 1px solid;
}
.jour a {
    color: #7b7b7b;
}
.jour input[type="checkbox"].jour_nuit + label {
    background-color: #c0ceda ;
    transition: all 0.5s ;
}

.jour form input[type="submit"] {
    font-size: calc(2.1vw + .3rem);
    background-color: #EA9632;
    border: none;
    text-transform: uppercase;
    transition: all .5s;
    color: #FFFFFF;
}

.jour form input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #EA9632;
    border: #EA9632 4px solid;
    padding: 17px 7px;
    transition: all .5s;
}

.jour .sombre{
    display: block;
}
.jour .claire{
    display: none;
}